

@media (min-width: 300px) and (max-width: 768px) {
   .talk{
   
   }
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

   
}

@media screen and (min-width:250px) and (max-width:480px) {
    .talk{
      grid-template-columns: repeat(1,1fr);
    }
    .soak{
        grid-template-columns: repeat(1,1fr);
    }
    .soakbutton{
        margin-bottom: 15px;
    }
    .summer{
        grid-template-columns: repeat(1,1fr);
    }
    .satisfied{
        grid-template-columns: repeat(1,1fr);
    }
    .bekind{
        grid-template-columns: repeat(1,1fr);
    }
    .bekindbutton{
        margin-bottom: 15px;
    }
    .satisfiedbtn{
        margin-bottom: 15px;
    }
  }

   /* Tablet View */
   @media screen and (min-width:481px) and (max-width:768px) {
    .talk{
      grid-template-columns: repeat(1,1fr);
    }
    .soak{
        grid-template-columns: repeat(1,1fr);
    }
    .soakbutton{
        margin-bottom: 15px;
    }
    .summer{
        grid-template-columns: repeat(1,1fr);
    }
    .satisfied{
        grid-template-columns: repeat(1,1fr);
    }
    .bekind{
        grid-template-columns: repeat(1,1fr);
    }
    .bekindbutton{
        margin-bottom: 15px;
    }
    .satisfiedbtn{
        margin-bottom: 15px;
    }
  }
   /* Laptop View */
   @media screen and (min-width:769px) and (max-width: 1280px) {
    .talks{
      margin-top: 80px;
    }
    .soak{
        grid-template-columns: repeat(1,1fr);
    }
    .soakbutton{
        margin-bottom: 15px;
    }
    .summer{
        grid-template-columns: repeat(1,1fr);
    }
    .satisfied{
        grid-template-columns: repeat(1,1fr);
    }
    .bekind{
        grid-template-columns: repeat(1,1fr);
    }
    .bekindbutton{
        margin-bottom: 15px;
    }
    .satisfiedbtn{
        margin-bottom: 15px;
    }
  }

